.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.copyright {
  color: #999;
  font-size:12px;
}

.taxonomy-item {
  text-transform: capitalize;
}

.breadcrumb-item {
  text-transform: capitalize;
}

.tabs .tab a {
    color: white;
    background-color: #29b6f6
}

.tabs .tab a:hover {
    color: #ccc;
}

.tabs .indicator {
  background-color: #0d47a1; 
}

.collection {
  margin-top: 0;
}

#taxonomy {
  border: 1px solid #29b6f6;
}

#entities {
  background-color: #29b6f6;
}

#countriesfield {
  margin-top: 0;
}

#menu {
  margin-left: -0.75rem;
  background-color: #29b6f6
}

ul.dropdown-content.select-dropdown li span {
    color: #29b6f6; 
}

